.event-slider {
  margin-bottom: 20px;
}
.event-slider1 {
  height: 60vh;
}

.event-slide {
  padding: 0 10px;
}

.event-article {
  /* background-color: #f0f0f0; */
  /* padding: 10px; */
  border-radius: 5px;
  /* border-radius: 10px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensure relative positioning for absolute positioning */
}

.event-image {
  width: 30vw;
  height: 30vh;
  transition: filter 0.5s ease; /* Apply transition effect to filter property */
}

.event-image1 {
  width: 70vw;
  height: 80vh;
  filter: brightness(40%);
}
.event-image1:hover {
  filter: brightness(40%);
}

.event-image:hover {
  filter: brightness(40%);
}

.location-container {
  position: absolute;
  top: 40%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  /* padding: 5px; */
  border-radius: 5px;
  opacity: 0; /* Initially hide location */
  visibility: hidden; /* Initially hide location */
  transition: opacity 0.5s ease; /* Apply transition effect to opacity */
}

.custom-slider .slick-dots {
  position: absolute;
  bottom: -120px;
  width: 100%;
  display: flex !important;
  justify-content: center;
}

.event-article:hover .location-container {
  opacity: 1;
  visibility: visible;
}

.slick-dots li button {
  background-color: skyblue; /* Change the background color of the dots */
  border-color: skyblue; /* Change the border color of the dots */
}

.previousArrow {
  /* height: 100px; */
  /* width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    padding: 3px;
    z-index: 2;
    display: block; */
}
article {
  cursor: pointer;
}
.slick-prev:before {
  content: none !important;
}
.slick-next:before {
  content: none !important;
}
.firstarrow {
  font-size: 24px;
  color: black;
}
.custom-prev-arrow:hover {
  background-color: white;
}
/* .dashboard {
  background-image: url("./blob-scatter-haikei.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
} */
.box {
  min-width: 15vw;
}
.boxx {
  background: rgb(234, 241, 242);
  background: linear-gradient(
    180deg,
    rgba(234, 241, 242, 1) 0%,
    rgba(205, 244, 255, 1) 100%
  );
}
