.button-poppup{
    /* background-color: ; */
}
/* .popup{
    border: 2px solid black;
} */
/* .popup-button-accept{
    background-color: #22d652;
    color: white;
}
.popup-button-decline{
    background-color: #f63236;
} */