.event {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  background-image: url("../../components/RequestDetailsPopup//wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* width: 100%; */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.event-date {
  background-color: #000000;
  border-radius: 50%;
  color: rgb(0, 213, 255);
  font-weight: 800;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  /* margin-bottom: 1em; */
  display: flex;
  justify-content: space-evenly;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  /* padding: calc(0.75em / 0.75) calc(0.5em / 0.75); */
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  height: 45px;
  width: 35px;
  /* margin: 10px; */
  background: none;
  border-radius: 50%;
  /* box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1); */
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #c9c92c;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #cca926;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #cca926;
}
.react-calendar__tile--active {
  background: #cca926;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #cca926;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
.react-calendar {
  /* padding: 10px; */
  border: none;
  border-radius: 10px;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  padding: 5px;
}
abbr,
.react-calendar {
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* color: #000000; */
}
.participating-event-date {
  background-color: #3c9074;
  color: aliceblue;
  /* Add any additional styling you want for participating events */
}

.created-event-date {
  background-color: #3674da;
  color: #d1ddec;
  /* Add any additional styling you want for created events */
}
.created-event-date:hover {
  background-color: #4b90e6 !important;
  transition: 0.3s ease-in-out !important;
  /* color: #000000 !important; */
}
.participating-event-date:hover {
  background-color: #6abe9e !important;
  transition: 0.3s ease-in-out !important;
  /* Add any additional styling you want for participating events */
}
.box {
  background-image: url("./wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}
