*{
    padding: 0;
    margin: 0;
}
.container-1{
     background-image: url('./blob-scatter-haikei.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    color: rgb(240, 236, 236);
}
.home-button{
    border: 2px solid rgb(240, 236, 236);
    padding: 5px;
    border-radius: 5px;
    width: 120px;
}
.home-button:hover{
    color:#ff0066;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    background-color: rgb(240, 236, 236);
}
.login-button{
    font-weight: 450;
}
.login-button:hover{
    background-color: #182542;
    transition: 1s ease-in-out;
}
  