@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3{
  font-size: 1.2rem;
}
h2{
  font-size: 1.5rem;
}
h1{
  font-size: 3rem;
}
p{
  font-size: 0.9rem;
  font-weight: 500;
}
i{
  font-size: 1.3rem;
  color: #767B91;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input:focus,textArea:focus,select:focus{
  resize: none;
}
.points{
  font-size: 0.9rem;
  margin: 10px;
  font-weight: 500;
}
::-webkit-scrollbar {
  width: 0;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background:darkgrey;
  border-radius: 25px;
  /* border: 1px solid black; */
}